@page "/fetchdata"
@using CourseworkPastPaperApplication2.Shared
@using System;
@using System.Text.Json;
@inject HttpClient Http

<PageTitle>Fetch Data</PageTitle>

<h1>Click for Data</h1>

<button @onclick="SetTeachersAsync">Get Teachers</button>
<button @onclick="SetStudentsAsync">Get Students</button>
<button @onclick="SetClassesAsync">Get Classes</button>

@if (teachers is not null)
{
    <h2>Teachers</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Password</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Teacher teacher in this.teachers)
            {
                <tr>
                    <td>@teacher.Name</td>
                    <td>@teacher.Password</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (students is not null)
{
    <h2>Students</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Password</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Student student in this.students)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Password</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (classes is not null)
{
    <h2>Classes</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Teacher</th>
                <th>Student Names</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Class class_ in this.classes)
            {
                <tr>
                    <td>@class_.Id</td>
                    <td>@class_.TeacherNavigation.Name</td>
                    <td><table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Password</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (Student student in class_.Students)
                            {
                                <tr>
                                    <td>@student.Name</td>
                                    <td>@student.Password</td>
                                </tr>
                            }
                        </tbody>
                    </table></td>
                </tr>
            }
        </tbody>
    </table>
}

<p>This component demonstrates fetching teacher data from the server.</p>

@code {
    private IEnumerable<Teacher>? teachers;
    private IEnumerable<Student>? students;
    private IEnumerable<Class>? classes;

    private async Task SetTeachersAsync()
    {
        teachers = await Http.GetFromJsonAsync<IEnumerable<Teacher>>("https://localhost:7053/Teachers");
    }

    private async Task SetStudentsAsync()
    {
        students = await Http.GetFromJsonAsync<IEnumerable<Student>>("https://localhost:7053/Students");
    }

    private async Task SetClassesAsync()
    {
        classes = await Http.GetFromJsonAsync<IEnumerable<Class>>("https://localhost:7053/Classes");
    }
}